---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 4
---
<h1>Contact Me</h1>
<img src="http://127.0.0.1:5500/eleventy-base-blog-take2/content/built-high-resolution-logo.jpeg">
Is this image working?
<h2>Richard Bradley - Developer</h2>
<p><b>Email:</b> richbradley90@gmail.com</p>
